/* Variables **********************************************************/
:root {
  /* Color palette */
  --color-brand-green: #00856f;
  --color-brand-green-hover: #00453a;
  --color-brand-green-light-1: #dce9e2;
  --color-brand-green-light-2: #f7f9f9;
  --color-brand-beige: #fffaf1;
  --color-gray-headline: #212529;
  --color-gray-paragraph: #495057;
  --color-white: #fff;

  /* Font size */
  --font-14: 1.4rem;
  --font-16: 1.6rem;
  --font-18: 1.8rem;
  --font-24: 2.4rem;
  --font-30: 3rem;
  --font-34: 3.4rem;
  --font-40: 4rem;
  --font-48: 4.8rem;
  --font-52: 5.2rem;
}

/* CSS Base **********************************************************/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "DM Sans", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Button component **********************************************************/
.btn {
  text-transform: uppercase;
  font-size: var(--font-14);
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 40px;
}

.btn.btn--primary {
  color: var(--color-white);
  padding: 1.6rem 3.2rem;
  background-color: var(--color-brand-green);
}

.btn--primary .icon {
  font-size: 2rem;
  padding-right: 1rem;
}

.btn--primary:hover {
  background-color: var(--color-brand-green-hover);
}

.btn.btn--secondary {
  color: var(--color-brand-green);
  border: 1px solid var(--color-brand-green);
  background-color: var(--color-white);
  padding: 1rem 2.4rem;
}

.btn.btn--secondary:hover {
  background-color: var(--color-brand-green);
  color: var(--color-white);
}

/* 
<button class="btn btn--primary">
  <span class="fa-brands fa-whatsapp icon"></span>Agende sua consulta
</button>
<button class="btn btn--secondary">Agendar consulta</button>
*/
